{% extends 'base.html' %}

{% block title %}Home Page{% endblock title %}

{% block content %}
<h1>Welcome to My Home Page</h1>
<p>This is the content of the home page.</p>
<a href="{% url 'question_create' %}">Create New Question</a>
<a href="{% url 'question_list' %}">Go to Question List</a>

{% if user.is_authenticated %}
Hi {{ user.username }}! You are {{ user.age }} years old. you have succesfuly logged in, now you can post questions !
<p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a> |
<a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}